body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  display: block;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
}

.booking {
  position: relative;
  text-align: center;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}

.fonctionnement_step {
  margin-bottom: 13px;
}

.fonctionnement_step > p {
  position: absolute;
}

.fonctionnement_step div {
  display: flex;
  width: 85%;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  background-color: black;
  margin: auto;
  border-radius: 10px;
  position: relative;
  padding: 12px 0px;
  font-weight: 700;
}

.fonctionnement_step div i {
  margin-right: 20px;
}

.fonctionnement_step_number {
  position: absolute;
  left: -8%;
  padding: 7px 12px;
  border-radius: 23px;
  background: linear-gradient(to top, #a85ddb, #e671da);
  font-size: 17px;
  color: white;
}

section {
  text-align: center;
}

.menu-card {
  width: 90%;
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  box-shadow: 2px 2px 10px #acacac;
  border-radius: 20px;
}

.menu-card {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.menu-card img {
  border-radius: 20px;
  height: 225px;
  object-fit: cover;
}

.menu-card__information {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: 10px auto;
}

.menu-card h4,
.menu-card p {
  margin: 0;
}

.new {
  position: absolute;
  background-color: #99e2d0;
  width: 40%;
  padding: 12px;
  color: #129273;
  top: 20px;
  right: 10px;
}

.restaurants {
  background-color: #ececec;
  padding: 30px 0;
}

.restaurant_card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  align-items: flex-end;
  box-shadow: 2px 2px 10px #acacac;
}
.restaurant_card h4, .restaurant_card p {
  margin: 0px;
}

@media (min-width: 1024px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px auto;
  }

  .fonctionnement_step {
    margin-bottom: 13px;
    width: 325px;
  }

  .menu-card {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 30%;
  }

  .restaurants {
    background-color: white;
    padding: 30px 0;
    display: flex;
  }

  .restaurants > div {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding: 40px;
  }
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.3rem;
  line-height: 32px;
}

button {
  background: linear-gradient(to top, #a85ddb, #e671da);
  padding: 13px 36px;
  color: white;
  border: none;
  border-radius: 20px;
}

header {
  width: 100%;
  background-color: #fff;
  box-shadow: 10px 5px 5px #dfdfdf;
  padding: 20px 0px;
  text-align: center;
  position: relative;
}

footer img {
  width: 90px;
}

footer {
  background-color: black;
  color: white;
}

footer ul {
  list-style-type: none;
  display: block;
  padding: 30px;
  margin: 0px;
}

.hero_banner img {
  width: 100%;
}

.carte_du_restaurant {
  background-color: #ececec;
  position: relative;
  top: -30px;
  border-radius: 25px;
  padding: 10px;
}

.heading {
  display: flex;
  width: 92%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-family: Shrikhand, serif;
}

.carte_du_restaurant h3 {
  text-align: left;
  color: grey;
  border-bottom: 2px solid #99e2d0;
  width: 23px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
